
thead {
    background-color: #5c92cfef;
    color: antiquewhite;
}


.completed {
    background-color: #a4dfb5
}

.not-completed {
    background-color: #f0f8ff;
}

.due-soon {
    background-color: #e2aa99
}

.overdue {
    background-color: #f85408
}


.delete-btn {
    background-color: #b800009d;
    color: floralwhite;
}

.complete-btn {
    background-color: rgba(0, 0, 0, 0.411);
    color: floralwhite;
}






/* MODALS */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #00000066; /* Black w/ opacity */
}

/* ENTER TASK MODAL */
.modal-content-a {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 625px; /* Could be more or less, depending on screen size */
}

/* DELETE CONFIRM  MODAL */
.modal-content-b {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 300px; /* Could be more or less, depending on screen size */
}

/* EDIT TASK MODAL */
.modal-content-c {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 625px; /* Could be more or less, depending on screen size */
}
